

.home__info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 5rem;
}

.fromLeft {
    transition: .5s;
    animation: 1s side-from-left;
}

@keyframes side-from-left {
    from {
        translate: -1000px 0;
        scale: 200% 1;
    }

    to {
        translate: 0 0;
        scale: 100% 1;
    }
}